/* Colorear tipos del pokemon */
.fight {background-color: #ce4069;}
.psychic {background-color: #f97176;}
.poison {background-color: #ab6ac8;}
.dragon {background-color: #0a6dc4;}
.ghost {background-color: #5269ac;}
.dark {background-color: #5a5366;}
.ground {background-color: #d97746;}
.fire {background-color: #ff9c54;}
.fairy {background-color: #ec8fe6;}
.water {background-color: #4d90d5;}
.flying {background-color: #8fa8dd;}
.normal {background-color: #9099a1;}
.rock {background-color: #c7b78b;}
.electric {background-color: #f3d23b;}
.bug {background-color: #90c12c;}
.grass {background-color: #63bb5b;}
.ice {background-color: #74cec0;}
.steel {background-color: #5a8ea1;}

