<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center mt-0 container-fluid "> <!-- Ajuste en el margen superior -->
        <h1 class="display-4 mt-5 text-primary">Oh Oh! Error 404</h1>
        <p class="lead mb-4 small">No hemos encontrado la página que buscas</p> <!-- Cambio en la clase para reducir el tamaño de la letra -->
        <button class="btn btn-danger mb-5" routerLink="">Volver a la página de inicio</button>
        <img class="img-fluid" src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-3959260-3299959.gif" alt="">
      </div>
    </div>
  </div>
