<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center mt-0 container-fluid "> <!-- Ajuste en el margen superior -->
      <h1 class="display-4 mt-5 text-primary">¡Bienvenido a WikiDAW!</h1>
      <p class="lead mb-4 small">Tu página de conocimientos sobre Desarrollo de aplicaciones Web</p> <!-- Cambio en la clase para reducir el tamaño de la letra -->
      <p class="mb-4">Navega a través del menú lateral izquierdo para explorar todas las aplicaciones disponibles. Puedes probar aplicaciones que utilizan APIs o reciclan componentes de otros proyectos.</p> <!-- Nueva información adicional -->
      <img class="img-fluid" src="https://i.pinimg.com/originals/e4/26/70/e426702edf874b181aced1e2fa5c6cde.gif" alt="">
    </div>
  </div>
</div>
