<div class="nga-container-sidebar">
  <ul class="list-unstyled p-2">
    <li class="mb-1">
      <button class="btn nga-btn-toggle btn-dark align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#home-collapse" aria-expanded="false">
        API's
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a routerLink="/clima" class="link-light rounded"><i
                class="fa-cloud fa-solid mt-1 me-2"></i>Clima App</a>
          </li>
          <li>
            <a routerLink="/poke" class="link-light rounded"><i
                class="fas fa-gamepad mt-1 me-2"></i>PokeAPI</a>
          </li>
          <li>
            <a routerLink="/rickymorty" class="link-light rounded"><i
                class="fas fa-video mt-1 me-2"></i>Rick y Morty API</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>